html {
  background-color: #e3e3e3;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.title, .subtitle {
  color: #723562 !important;
  font-family: "Source Code Pro", monospace;
}

.main-title {
  font-size: 50px;
  font-family: 'VT323', monospace;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 30px;
  font-weight: normal !important;
}

.title_link {
  text-decoration: none;
  color: #723562;
}

.separator {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 960px;
  height: 2.5em;
  padding: 1em 0;
}

.separator_container {
  text-align: center;
  top: -50px
}

.separator:after {
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 2px;
}

.separator:after {
  box-shadow: 27px 12px 0 #723562, 29px 12px 0 #723562,
  3px 14px 0 #723562, 7px 14px 0 #723562, 11px 14px 0 #723562, 15px 14px 0 #723562, 19px 14px 0 #723562, 23px 14px 0 #723562, 25px 14px 0 #723562, 27px 14px 0 #723562, 29px 14px 0 #723562, 31px 14px 0 #723562,
  27px 16px 0 #723562, 29px 16px 0 #723562,
  37px 10px 0 #723562, 39px 10px 0 #723562, 41px 10px 0 #723562,
  35px 12px 0 #723562, 43px 12px 0 #723562,
  35px 14px 0 #723562, 39px 14px 0 #723562, 43px 14px 0 #723562,
  35px 16px 0 #723562, 43px 16px 0 #723562,
  37px 18px 0 #723562, 39px 18px 0 #723562, 41px 18px 0 #723562,
  49px 12px 0 #723562, 51px 12px 0 #723562,
  47px 14px 0 #723562, 49px 14px 0 #723562, 51px 14px 0 #723562, 53px 14px 0 #723562, 55px 14px 0 #723562, 59px 14px 0 #723562, 63px 14px 0 #723562, 67px 14px 0 #723562, 71px 14px 0 #723562, 75px 14px 0 #723562,
  79px 14px 0 #723562, 83px 14px 0 #723562, 87px 14px 0 #723562, 91px 14px 0 #723562, 95px 14px 0 #723562, 99px 14px 0 #723562, 103px 14px 0 #723562, 107px 14px 0 #723562, 111px 14px 0 #723562, 115px 14px 0 #723562,
  119px 14px 0 #723562, 123px 14px 0 #723562, 127px 14px 0 #723562, 131px 14px 0 #723562, 135px 14px 0 #723562, 139px 14px 0 #723562, 143px 14px 0 #723562, 147px 14px 0 #723562, 151px 14px 0 #723562, 155px 14px 0 #723562,
  159px 14px 0 #723562, 163px 14px 0 #723562, 167px 14px 0 #723562, 171px 14px 0 #723562, 175px 14px 0 #723562, 179px 14px 0 #723562, 183px 14px 0 #723562, 187px 14px 0 #723562,
  49px 16px 0 #723562, 51px 16px 0 #723562,
  211px 8px 0 #723562, 213px 8px 0 #723562, 215px 8px 0 #723562, 217px 8px 0 #723562, 219px 8px 0 #723562, 221px 8px 0 #723562, 223px 8px 0 #723562,
  197px 10px 0 #723562, 199px 10px 0 #723562, 201px 10px 0 #723562, 209px 10px 0 #723562, 225px 10px 0 #723562, 233px 10px 0 #723562, 235px 10px 0 #723562, 237px 10px 0 #723562,
  193px 12px 0 #723562, 195px 12px 0 #723562, 203px 12px 0 #723562, 207px 12px 0 #723562, 227px 12px 0 #723562, 231px 12px 0 #723562, 239px 12px 0 #723562,
  189px 14px 0 #723562, 191px 14px 0 #723562, 205px 14px 0 #723562, 213px 14px 0 #723562, 217px 14px 0 #723562, 221px 14px 0 #723562, 229px 14px 0 #723562, 239px 14px 0 #723562,
  193px 16px 0 #723562, 195px 16px 0 #723562, 203px 16px 0 #723562, 207px 16px 0 #723562, 227px 16px 0 #723562, 231px 16px 0 #723562, 239px 16px 0 #723562,
  197px 18px 0 #723562, 199px 18px 0 #723562, 201px 18px 0 #723562, 209px 18px 0 #723562, 225px 18px 0 #723562, 233px 18px 0 #723562, 235px 18px 0 #723562, 237px 18px 0 #723562,
  211px 20px 0 #723562, 213px 20px 0 #723562, 215px 20px 0 #723562, 217px 20px 0 #723562, 219px 20px 0 #723562, 221px 20px 0 #723562, 223px 20px 0 #723562,
  245px 10px 0 #723562, 247px 10px 0 #723562, 249px 10px 0 #723562,
  243px 12px 0 #723562, 251px 12px 0 #723562,
  243px 14px 0 #723562, 247px 14px 0 #723562, 251px 14px 0 #723562,
  243px 16px 0 #723562, 251px 16px 0 #723562,
  245px 18px 0 #723562, 247px 18px 0 #723562, 249px 18px 0 #723562,
  257px 12px 0 #723562, 259px 12px 0 #723562, 295px 12px 0 #723562, 297px 12px 0 #723562,
  255px 14px 0 #723562, 257px 14px 0 #723562, 259px 14px 0 #723562, 261px 14px 0 #723562, 263px 14px 0 #723562, 267px 14px 0 #723562, 271px 14px 0 #723562, 275px 14px 0 #723562, 279px 14px 0 #723562, 283px 14px 0 #723562, 287px 14px 0 #723562, 291px 14px 0 #723562, 293px 14px 0 #723562, 295px 14px 0 #723562, 297px 14px 0 #723562, 299px 14px 0 #723562,
  257px 16px 0 #723562, 259px 16px 0 #723562, 295px 16px 0 #723562, 297px 16px 0 #723562,
  301px 8px 0 #723562, 313px 8px 0 #723562,
  303px 10px 0 #723562, 305px 10px 0 #723562, 309px 10px 0 #723562, 311px 10px 0 #723562,
  303px 12px 0 #723562, 305px 12px 0 #723562, 309px 12px 0 #723562, 311px 12px 0 #723562,
  307px 14px 0 #723562,
  303px 16px 0 #723562, 305px 16px 0 #723562, 309px 16px 0 #723562, 311px 16px 0 #723562,
  303px 18px 0 #723562, 305px 18px 0 #723562, 309px 18px 0 #723562, 311px 18px 0 #723562,
  301px 20px 0 #723562, 313px 20px 0 #723562,
  317px 12px 0 #723562, 319px 12px 0 #723562, 355px 12px 0 #723562, 357px 12px 0 #723562,
  315px 14px 0 #723562, 317px 14px 0 #723562, 319px 14px 0 #723562, 321px 14px 0 #723562, 323px 14px 0 #723562,
  327px 14px 0 #723562, 331px 14px 0 #723562, 335px 14px 0 #723562, 339px 14px 0 #723562, 343px 14px 0 #723562, 347px 14px 0 #723562,
  351px 14px 0 #723562, 353px 14px 0 #723562, 355px 14px 0 #723562, 357px 14px 0 #723562, 359px 14px 0 #723562,
  317px 16px 0 #723562, 319px 16px 0 #723562, 355px 16px 0 #723562, 357px 16px 0 #723562,
  365px 10px 0 #723562, 367px 10px 0 #723562, 369px 10px 0 #723562,
  363px 12px 0 #723562, 371px 12px 0 #723562,
  363px 14px 0 #723562, 367px 14px 0 #723562, 371px 14px 0 #723562,
  363px 16px 0 #723562, 371px 16px 0 #723562,
  365px 18px 0 #723562, 367px 18px 0 #723562, 369px 18px 0 #723562,
  391px 8px 0 #723562, 393px 8px 0 #723562, 395px 8px 0 #723562, 397px 8px 0 #723562, 399px 8px 0 #723562, 401px 8px 0 #723562, 403px 8px 0 #723562,
  377px 10px 0 #723562, 379px 10px 0 #723562, 381px 10px 0 #723562, 389px 10px 0 #723562, 405px 10px 0 #723562, 413px 10px 0 #723562, 415px 10px 0 #723562, 417px 10px 0 #723562,
  375px 12px 0 #723562, 383px 12px 0 #723562, 387px 12px 0 #723562, 407px 12px 0 #723562, 411px 12px 0 #723562, 419px 12px 0 #723562, 421px 12px 0 #723562,
  375px 14px 0 #723562, 385px 14px 0 #723562, 393px 14px 0 #723562, 397px 14px 0 #723562, 401px 14px 0 #723562, 409px 14px 0 #723562, 423px 14px 0 #723562, 425px 14px 0 #723562,
  375px 16px 0 #723562, 383px 16px 0 #723562, 387px 16px 0 #723562, 407px 16px 0 #723562, 411px 16px 0 #723562, 419px 16px 0 #723562, 421px 16px 0 #723562,
  377px 18px 0 #723562, 379px 18px 0 #723562, 381px 18px 0 #723562, 389px 18px 0 #723562, 405px 18px 0 #723562, 413px 18px 0 #723562, 415px 18px 0 #723562, 417px 18px 0 #723562,
  391px 20px 0 #723562, 393px 20px 0 #723562, 395px 20px 0 #723562, 397px 20px 0 #723562, 399px 20px 0 #723562, 401px 20px 0 #723562, 403px 20px 0 #723562,
  431px 8px 0 #723562, 443px 8px 0 #723562,
  433px 10px 0 #723562, 435px 10px 0 #723562, 439px 10px 0 #723562, 441px 10px 0 #723562,
  433px 12px 0 #723562, 435px 12px 0 #723562, 439px 12px 0 #723562, 441px 12px 0 #723562,
  429px 14px 0 #723562, 437px 14px 0 #723562, 445px 14px 0 #723562, 449px 14px 0 #723562, 451px 14px 0 #723562,
  433px 16px 0 #723562, 435px 16px 0 #723562, 439px 16px 0 #723562, 441px 16px 0 #723562,
  433px 18px 0 #723562, 435px 18px 0 #723562, 439px 18px 0 #723562, 441px 18px 0 #723562,
  431px 20px 0 #723562, 443px 20px 0 #723562,
  457px 4px 0 #723562, 459px 4px 0 #723562,
  455px 6px 0 #723562, 461px 6px 0 #723562,
  453px 8px 0 #723562, 463px 8px 0 #723562,
  453px 10px 0 #723562, 461px 10px 0 #723562,
  455px 12px 0 #723562,
  457px 14px 0 #723562, 459px 14px 0 #723562, 461px 14px 0 #723562,
  455px 16px 0 #723562,
  453px 18px 0 #723562, 461px 18px 0 #723562,
  453px 20px 0 #723562, 463px 20px 0 #723562,
  455px 22px 0 #723562, 461px 22px 0 #723562,
  457px 24px 0 #723562, 459px 24px 0 #723562,
  479px 0px 0 #723562,
  479px 2px 0 #723562,
  477px 4px 0 #723562, 479px 4px 0 #723562, 481px 4px 0 #723562,
  471px 6px 0 #723562, 477px 6px 0 #723562, 481px 6px 0 #723562, 487px 6px 0 #723562,
  473px 8px 0 #723562, 479px 8px 0 #723562, 485px 8px 0 #723562,
  475px 10px 0 #723562, 483px 10px 0 #723562,
  469px 12px 0 #723562, 471px 12px 0 #723562, 477px 12px 0 #723562, 479px 12px 0 #723562, 481px 12px 0 #723562, 487px 12px 0 #723562, 489px 12px 0 #723562,
  465px 14px 0 #723562, 467px 14px 0 #723562, 469px 14px 0 #723562, 473px 14px 0 #723562, 477px 14px 0 #723562, 481px 14px 0 #723562, 485px 14px 0 #723562, 489px 14px 0 #723562, 491px 14px 0 #723562, 493px 14px 0 #723562,
  469px 16px 0 #723562, 471px 16px 0 #723562, 477px 16px 0 #723562, 479px 16px 0 #723562, 481px 16px 0 #723562, 487px 16px 0 #723562, 489px 16px 0 #723562,
  475px 18px 0 #723562, 483px 18px 0 #723562,
  473px 20px 0 #723562, 479px 20px 0 #723562, 485px 20px 0 #723562,
  471px 22px 0 #723562, 477px 22px 0 #723562, 481px 22px 0 #723562, 487px 22px 0 #723562,
  477px 24px 0 #723562, 479px 24px 0 #723562, 481px 24px 0 #723562,
  479px 26px 0 #723562,
  479px 28px 0 #723562,
  499px 4px 0 #723562, 501px 4px 0 #723562,
  497px 6px 0 #723562, 503px 6px 0 #723562,
  495px 8px 0 #723562, 505px 8px 0 #723562,
  497px 10px 0 #723562, 505px 10px 0 #723562,
  503px 12px 0 #723562,
  497px 14px 0 #723562, 499px 14px 0 #723562, 501px 14px 0 #723562,
  503px 16px 0 #723562,
  497px 18px 0 #723562, 505px 18px 0 #723562,
  495px 20px 0 #723562, 505px 20px 0 #723562,
  497px 22px 0 #723562, 503px 22px 0 #723562,
  499px 24px 0 #723562, 501px 24px 0 #723562,
  515px 8px 0 #723562, 527px 8px 0 #723562,
  517px 10px 0 #723562, 519px 10px 0 #723562, 523px 10px 0 #723562, 525px 10px 0 #723562,
  517px 12px 0 #723562, 519px 12px 0 #723562, 523px 12px 0 #723562, 525px 12px 0 #723562,
  507px 14px 0 #723562, 509px 14px 0 #723562, 513px 14px 0 #723562, 521px 14px 0 #723562, 529px 14px 0 #723562,
  517px 16px 0 #723562, 519px 16px 0 #723562, 523px 16px 0 #723562, 525px 16px 0 #723562,
  517px 18px 0 #723562, 519px 18px 0 #723562, 523px 18px 0 #723562, 525px 18px 0 #723562,
  515px 20px 0 #723562, 527px 20px 0 #723562,
  555px 8px 0 #723562, 557px 8px 0 #723562, 559px 8px 0 #723562, 561px 8px 0 #723562, 563px 8px 0 #723562, 565px 8px 0 #723562, 567px 8px 0 #723562,
  541px 10px 0 #723562, 543px 10px 0 #723562, 545px 10px 0 #723562, 553px 10px 0 #723562, 569px 10px 0 #723562, 577px 10px 0 #723562, 579px 10px 0 #723562, 581px 10px 0 #723562,
  537px 12px 0 #723562, 539px 12px 0 #723562, 547px 12px 0 #723562, 551px 12px 0 #723562, 571px 12px 0 #723562, 575px 12px 0 #723562, 583px 12px 0 #723562,
  533px 14px 0 #723562, 535px 14px 0 #723562, 549px 14px 0 #723562, 557px 14px 0 #723562, 561px 14px 0 #723562, 565px 14px 0 #723562, 573px 14px 0 #723562, 583px 14px 0 #723562,
  537px 16px 0 #723562, 539px 16px 0 #723562, 547px 16px 0 #723562, 551px 16px 0 #723562, 571px 16px 0 #723562, 575px 16px 0 #723562, 583px 16px 0 #723562,
  541px 18px 0 #723562, 543px 18px 0 #723562, 545px 18px 0 #723562, 553px 18px 0 #723562, 569px 18px 0 #723562, 577px 18px 0 #723562, 579px 18px 0 #723562, 581px 18px 0 #723562,
  555px 20px 0 #723562, 557px 20px 0 #723562, 559px 20px 0 #723562, 561px 20px 0 #723562, 563px 20px 0 #723562, 565px 20px 0 #723562, 567px 20px 0 #723562,
  589px 10px 0 #723562, 591px 10px 0 #723562, 593px 10px 0 #723562,
  587px 12px 0 #723562, 595px 12px 0 #723562,
  587px 14px 0 #723562, 591px 14px 0 #723562, 595px 14px 0 #723562,
  587px 16px 0 #723562, 595px 16px 0 #723562,
  589px 18px 0 #723562, 591px 18px 0 #723562, 593px 18px 0 #723562,
  601px 12px 0 #723562, 603px 12px 0 #723562, 639px 12px 0 #723562, 641px 12px 0 #723562,
  599px 14px 0 #723562, 601px 14px 0 #723562, 603px 14px 0 #723562, 605px 14px 0 #723562, 607px 14px 0 #723562,
  611px 14px 0 #723562, 615px 14px 0 #723562, 619px 14px 0 #723562, 623px 14px 0 #723562, 627px 14px 0 #723562, 631px 14px 0 #723562,
  635px 14px 0 #723562, 637px 14px 0 #723562, 639px 14px 0 #723562, 641px 14px 0 #723562, 643px 14px 0 #723562,
  601px 16px 0 #723562, 603px 16px 0 #723562, 639px 16px 0 #723562, 641px 16px 0 #723562,
  645px 8px 0 #723562, 657px 8px 0 #723562,
  647px 10px 0 #723562, 649px 10px 0 #723562, 653px 10px 0 #723562, 655px 10px 0 #723562,
  647px 12px 0 #723562, 649px 12px 0 #723562, 653px 12px 0 #723562, 655px 12px 0 #723562,
  651px 14px 0 #723562,
  647px 16px 0 #723562, 649px 16px 0 #723562, 653px 16px 0 #723562, 655px 16px 0 #723562,
  647px 18px 0 #723562, 649px 18px 0 #723562, 653px 18px 0 #723562, 655px 18px 0 #723562,
  645px 20px 0 #723562, 657px 20px 0 #723562,
  661px 12px 0 #723562, 663px 12px 0 #723562, 699px 12px 0 #723562, 701px 12px 0 #723562,
  659px 14px 0 #723562, 661px 14px 0 #723562, 663px 14px 0 #723562, 665px 14px 0 #723562, 667px 14px 0 #723562,
  671px 14px 0 #723562, 675px 14px 0 #723562, 679px 14px 0 #723562, 683px 14px 0 #723562, 687px 14px 0 #723562, 691px 14px 0 #723562,
  695px 14px 0 #723562, 697px 14px 0 #723562, 699px 14px 0 #723562, 701px 14px 0 #723562, 703px 14px 0 #723562,
  661px 16px 0 #723562, 663px 16px 0 #723562, 699px 16px 0 #723562, 701px 16px 0 #723562,
  709px 10px 0 #723562, 711px 10px 0 #723562, 713px 10px 0 #723562,
  707px 12px 0 #723562, 715px 12px 0 #723562,
  707px 14px 0 #723562, 711px 14px 0 #723562, 715px 14px 0 #723562,
  707px 16px 0 #723562, 715px 16px 0 #723562,
  709px 18px 0 #723562, 711px 18px 0 #723562, 713px 18px 0 #723562,
  735px 8px 0 #723562, 737px 8px 0 #723562, 739px 8px 0 #723562, 741px 8px 0 #723562, 743px 8px 0 #723562, 745px 8px 0 #723562, 747px 8px 0 #723562,
  721px 10px 0 #723562, 723px 10px 0 #723562, 725px 10px 0 #723562, 733px 10px 0 #723562, 749px 10px 0 #723562, 757px 10px 0 #723562, 759px 10px 0 #723562, 761px 10px 0 #723562,
  719px 12px 0 #723562, 727px 12px 0 #723562, 731px 12px 0 #723562, 751px 12px 0 #723562, 755px 12px 0 #723562, 763px 12px 0 #723562, 765px 12px 0 #723562,
  719px 14px 0 #723562, 729px 14px 0 #723562, 737px 14px 0 #723562, 741px 14px 0 #723562, 745px 14px 0 #723562, 753px 14px 0 #723562, 767px 14px 0 #723562, 769px 14px 0 #723562,
  719px 16px 0 #723562, 727px 16px 0 #723562, 731px 16px 0 #723562, 751px 16px 0 #723562, 755px 16px 0 #723562, 763px 16px 0 #723562, 765px 16px 0 #723562,
  721px 18px 0 #723562, 723px 18px 0 #723562, 725px 18px 0 #723562, 733px 18px 0 #723562, 749px 18px 0 #723562, 757px 18px 0 #723562, 759px 18px 0 #723562, 761px 18px 0 #723562,
  735px 20px 0 #723562, 737px 20px 0 #723562, 739px 20px 0 #723562, 741px 20px 0 #723562, 743px 20px 0 #723562, 745px 20px 0 #723562, 747px 20px 0 #723562,
  907px 12px 0 #723562, 909px 12px 0 #723562,
  771px 14px 0 #723562, 775px 14px 0 #723562, 779px 14px 0 #723562, 783px 14px 0 #723562, 787px 14px 0 #723562, 791px 14px 0 #723562, 795px 14px 0 #723562, 799px 14px 0 #723562, 803px 14px 0 #723562, 807px 14px 0 #723562,
  811px 14px 0 #723562, 815px 14px 0 #723562, 819px 14px 0 #723562, 823px 14px 0 #723562, 827px 14px 0 #723562, 831px 14px 0 #723562, 835px 14px 0 #723562, 839px 14px 0 #723562, 843px 14px 0 #723562, 847px 14px 0 #723562,
  851px 14px 0 #723562, 855px 14px 0 #723562, 859px 14px 0 #723562, 863px 14px 0 #723562, 867px 14px 0 #723562, 871px 14px 0 #723562, 875px 14px 0 #723562, 879px 14px 0 #723562, 883px 14px 0 #723562, 887px 14px 0 #723562,
  891px 14px 0 #723562, 895px 14px 0 #723562, 899px 14px 0 #723562, 903px 14px 0 #723562, 905px 14px 0 #723562, 907px 14px 0 #723562, 909px 14px 0 #723562, 911px 14px 0 #723562,
  907px 16px 0 #723562, 909px 16px 0 #723562,
  917px 10px 0 #723562, 919px 10px 0 #723562, 921px 10px 0 #723562,
  915px 12px 0 #723562, 923px 12px 0 #723562,
  915px 14px 0 #723562, 919px 14px 0 #723562, 923px 14px 0 #723562,
  915px 16px 0 #723562, 923px 16px 0 #723562,
  917px 18px 0 #723562, 919px 18px 0 #723562, 921px 18px 0 #723562,
  929px 12px 0 #723562, 931px 12px 0 #723562,
  927px 14px 0 #723562, 929px 14px 0 #723562, 931px 14px 0 #723562, 933px 14px 0 #723562, 935px 14px 0 #723562, 939px 14px 0 #723562, 943px 14px 0 #723562, 947px 14px 0 #723562, 951px 14px 0 #723562, 955px 14px 0 #723562,
  929px 16px 0 #723562, 931px 16px 0 #723562;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .wrap {
    width: 768px;
  }

  .separator {
    width: 760px;
    height: 30px;
  }

  .separator:after {
    box-shadow: 3px 14px 0 #723562, 7px 14px 0 #723562, 11px 14px 0 #723562, 15px 14px 0 #723562, 19px 14px 0 #723562, 23px 14px 0 #723562, 27px 14px 0 #723562, 31px 14px 0 #723562,
    35px 14px 0 #723562, 39px 14px 0 #723562, 43px 14px 0 #723562, 47px 14px 0 #723562, 51px 14px 0 #723562, 55px 14px 0 #723562, 59px 14px 0 #723562, 63px 14px 0 #723562,
    67px 14px 0 #723562, 71px 14px 0 #723562, 75px 14px 0 #723562, 79px 14px 0 #723562, 83px 14px 0 #723562, 87px 14px 0 #723562,
    111px 8px 0 #723562, 113px 8px 0 #723562, 115px 8px 0 #723562, 117px 8px 0 #723562, 119px 8px 0 #723562, 121px 8px 0 #723562, 123px 8px 0 #723562,
    97px 10px 0 #723562, 99px 10px 0 #723562, 101px 10px 0 #723562, 109px 10px 0 #723562, 125px 10px 0 #723562, 133px 10px 0 #723562, 135px 10px 0 #723562, 137px 10px 0 #723562,
    93px 12px 0 #723562, 95px 12px 0 #723562, 103px 12px 0 #723562, 107px 12px 0 #723562, 127px 12px 0 #723562, 131px 12px 0 #723562, 139px 12px 0 #723562,
    89px 14px 0 #723562, 91px 14px 0 #723562, 105px 14px 0 #723562, 113px 14px 0 #723562, 117px 14px 0 #723562, 121px 14px 0 #723562, 129px 14px 0 #723562, 139px 14px 0 #723562,
    93px 16px 0 #723562, 95px 16px 0 #723562, 103px 16px 0 #723562, 107px 16px 0 #723562, 127px 16px 0 #723562, 131px 16px 0 #723562, 139px 16px 0 #723562,
    97px 18px 0 #723562, 99px 18px 0 #723562, 101px 18px 0 #723562, 109px 18px 0 #723562, 125px 18px 0 #723562, 133px 18px 0 #723562, 135px 18px 0 #723562, 137px 18px 0 #723562,
    111px 20px 0 #723562, 113px 20px 0 #723562, 115px 20px 0 #723562, 117px 20px 0 #723562, 119px 20px 0 #723562, 121px 20px 0 #723562, 123px 20px 0 #723562,
    145px 10px 0 #723562, 147px 10px 0 #723562, 149px 10px 0 #723562,
    143px 12px 0 #723562, 151px 12px 0 #723562,
    143px 14px 0 #723562, 147px 14px 0 #723562, 151px 14px 0 #723562,
    143px 16px 0 #723562, 151px 16px 0 #723562,
    145px 18px 0 #723562, 147px 18px 0 #723562, 149px 18px 0 #723562,
    157px 12px 0 #723562, 159px 12px 0 #723562, 195px 12px 0 #723562, 197px 12px 0 #723562,
    155px 14px 0 #723562, 157px 14px 0 #723562, 159px 14px 0 #723562, 161px 14px 0 #723562, 163px 14px 0 #723562,
    167px 14px 0 #723562, 171px 14px 0 #723562, 175px 14px 0 #723562, 179px 14px 0 #723562, 183px 14px 0 #723562, 187px 14px 0 #723562,
    191px 14px 0 #723562, 193px 14px 0 #723562, 195px 14px 0 #723562, 197px 14px 0 #723562, 199px 14px 0 #723562,
    157px 16px 0 #723562, 159px 16px 0 #723562, 195px 16px 0 #723562, 197px 16px 0 #723562,
    201px 8px 0 #723562, 213px 8px 0 #723562,
    203px 10px 0 #723562, 205px 10px 0 #723562, 209px 10px 0 #723562, 211px 10px 0 #723562,
    203px 12px 0 #723562, 205px 12px 0 #723562, 209px 12px 0 #723562, 211px 12px 0 #723562,
    207px 14px 0 #723562,
    203px 16px 0 #723562, 205px 16px 0 #723562, 209px 16px 0 #723562, 211px 16px 0 #723562,
    203px 18px 0 #723562, 205px 18px 0 #723562, 209px 18px 0 #723562, 211px 18px 0 #723562,
    201px 20px 0 #723562, 213px 20px 0 #723562,
    217px 12px 0 #723562, 219px 12px 0 #723562, 255px 12px 0 #723562, 257px 12px 0 #723562,
    215px 14px 0 #723562, 217px 14px 0 #723562, 219px 14px 0 #723562, 221px 14px 0 #723562, 223px 14px 0 #723562,
    227px 14px 0 #723562, 231px 14px 0 #723562, 235px 14px 0 #723562, 239px 14px 0 #723562, 243px 14px 0 #723562, 247px 14px 0 #723562,
    251px 14px 0 #723562, 253px 14px 0 #723562, 255px 14px 0 #723562, 257px 14px 0 #723562, 259px 14px 0 #723562,
    217px 16px 0 #723562, 219px 16px 0 #723562, 255px 16px 0 #723562, 257px 16px 0 #723562,
    265px 10px 0 #723562, 267px 10px 0 #723562, 269px 10px 0 #723562,
    263px 12px 0 #723562, 271px 12px 0 #723562,
    263px 14px 0 #723562, 267px 14px 0 #723562, 271px 14px 0 #723562,
    263px 16px 0 #723562, 271px 16px 0 #723562,
    265px 18px 0 #723562, 267px 18px 0 #723562, 269px 18px 0 #723562,
    291px 8px 0 #723562, 293px 8px 0 #723562, 295px 8px 0 #723562, 297px 8px 0 #723562, 299px 8px 0 #723562, 301px 8px 0 #723562, 303px 8px 0 #723562,
    277px 10px 0 #723562, 279px 10px 0 #723562, 281px 10px 0 #723562, 289px 10px 0 #723562, 305px 10px 0 #723562, 313px 10px 0 #723562, 315px 10px 0 #723562, 317px 10px 0 #723562,
    275px 12px 0 #723562, 283px 12px 0 #723562, 287px 12px 0 #723562, 307px 12px 0 #723562, 311px 12px 0 #723562, 319px 12px 0 #723562, 321px 12px 0 #723562,
    275px 14px 0 #723562, 285px 14px 0 #723562, 293px 14px 0 #723562, 297px 14px 0 #723562, 301px 14px 0 #723562, 309px 14px 0 #723562, 323px 14px 0 #723562, 325px 14px 0 #723562,
    275px 16px 0 #723562, 283px 16px 0 #723562, 287px 16px 0 #723562, 307px 16px 0 #723562, 311px 16px 0 #723562, 319px 16px 0 #723562, 321px 16px 0 #723562,
    277px 18px 0 #723562, 279px 18px 0 #723562, 281px 18px 0 #723562, 289px 18px 0 #723562, 305px 18px 0 #723562, 313px 18px 0 #723562, 315px 18px 0 #723562, 317px 18px 0 #723562,
    291px 20px 0 #723562, 293px 20px 0 #723562, 295px 20px 0 #723562, 297px 20px 0 #723562, 299px 20px 0 #723562, 301px 20px 0 #723562, 303px 20px 0 #723562,
    331px 8px 0 #723562, 343px 8px 0 #723562,
    333px 10px 0 #723562, 335px 10px 0 #723562, 339px 10px 0 #723562, 341px 10px 0 #723562,
    333px 12px 0 #723562, 335px 12px 0 #723562, 339px 12px 0 #723562, 341px 12px 0 #723562,
    329px 14px 0 #723562, 337px 14px 0 #723562, 345px 14px 0 #723562, 349px 14px 0 #723562, 351px 14px 0 #723562,
    333px 16px 0 #723562, 335px 16px 0 #723562, 339px 16px 0 #723562, 341px 16px 0 #723562,
    333px 18px 0 #723562, 335px 18px 0 #723562, 339px 18px 0 #723562, 341px 18px 0 #723562,
    331px 20px 0 #723562, 343px 20px 0 #723562,
    357px 4px 0 #723562, 359px 4px 0 #723562,
    355px 6px 0 #723562, 361px 6px 0 #723562,
    353px 8px 0 #723562, 363px 8px 0 #723562,
    353px 10px 0 #723562, 361px 10px 0 #723562,
    355px 12px 0 #723562,
    357px 14px 0 #723562, 359px 14px 0 #723562, 361px 14px 0 #723562,
    355px 16px 0 #723562,
    353px 18px 0 #723562, 361px 18px 0 #723562,
    353px 20px 0 #723562, 363px 20px 0 #723562,
    355px 22px 0 #723562, 361px 22px 0 #723562,
    357px 24px 0 #723562, 359px 24px 0 #723562,
    379px 0px 0 #723562,
    379px 2px 0 #723562,
    377px 4px 0 #723562, 379px 4px 0 #723562, 381px 4px 0 #723562,
    371px 6px 0 #723562, 377px 6px 0 #723562, 381px 6px 0 #723562, 387px 6px 0 #723562,
    373px 8px 0 #723562, 379px 8px 0 #723562, 385px 8px 0 #723562,
    375px 10px 0 #723562, 383px 10px 0 #723562,
    369px 12px 0 #723562, 371px 12px 0 #723562, 377px 12px 0 #723562, 379px 12px 0 #723562, 381px 12px 0 #723562, 387px 12px 0 #723562, 389px 12px 0 #723562,
    365px 14px 0 #723562, 367px 14px 0 #723562, 369px 14px 0 #723562, 373px 14px 0 #723562, 377px 14px 0 #723562, 381px 14px 0 #723562, 385px 14px 0 #723562, 389px 14px 0 #723562, 391px 14px 0 #723562, 393px 14px 0 #723562,
    369px 16px 0 #723562, 371px 16px 0 #723562, 377px 16px 0 #723562, 379px 16px 0 #723562, 381px 16px 0 #723562, 387px 16px 0 #723562, 389px 16px 0 #723562,
    375px 18px 0 #723562, 383px 18px 0 #723562,
    373px 20px 0 #723562, 379px 20px 0 #723562, 385px 20px 0 #723562,
    371px 22px 0 #723562, 377px 22px 0 #723562, 381px 22px 0 #723562, 387px 22px 0 #723562,
    377px 24px 0 #723562, 379px 24px 0 #723562, 381px 24px 0 #723562,
    379px 26px 0 #723562,
    379px 28px 0 #723562,
    399px 4px 0 #723562, 401px 4px 0 #723562,
    397px 6px 0 #723562, 403px 6px 0 #723562,
    395px 8px 0 #723562, 405px 8px 0 #723562,
    397px 10px 0 #723562, 405px 10px 0 #723562,
    403px 12px 0 #723562,
    397px 14px 0 #723562, 399px 14px 0 #723562, 401px 14px 0 #723562,
    403px 16px 0 #723562,
    397px 18px 0 #723562, 405px 18px 0 #723562,
    395px 20px 0 #723562, 405px 20px 0 #723562,
    397px 22px 0 #723562, 403px 22px 0 #723562,
    399px 24px 0 #723562, 401px 24px 0 #723562,
    415px 8px 0 #723562, 427px 8px 0 #723562,
    417px 10px 0 #723562, 419px 10px 0 #723562, 423px 10px 0 #723562, 425px 10px 0 #723562,
    417px 12px 0 #723562, 419px 12px 0 #723562, 423px 12px 0 #723562, 425px 12px 0 #723562,
    407px 14px 0 #723562, 409px 14px 0 #723562, 413px 14px 0 #723562, 421px 14px 0 #723562, 429px 14px 0 #723562,
    417px 16px 0 #723562, 419px 16px 0 #723562, 423px 16px 0 #723562, 425px 16px 0 #723562,
    417px 18px 0 #723562, 419px 18px 0 #723562, 423px 18px 0 #723562, 425px 18px 0 #723562,
    415px 20px 0 #723562, 427px 20px 0 #723562,
    455px 8px 0 #723562, 457px 8px 0 #723562, 459px 8px 0 #723562, 461px 8px 0 #723562, 463px 8px 0 #723562, 465px 8px 0 #723562, 467px 8px 0 #723562,
    441px 10px 0 #723562, 443px 10px 0 #723562, 445px 10px 0 #723562, 453px 10px 0 #723562, 469px 10px 0 #723562, 477px 10px 0 #723562, 479px 10px 0 #723562, 481px 10px 0 #723562,
    437px 12px 0 #723562, 439px 12px 0 #723562, 447px 12px 0 #723562, 451px 12px 0 #723562, 471px 12px 0 #723562, 475px 12px 0 #723562, 483px 12px 0 #723562,
    433px 14px 0 #723562, 435px 14px 0 #723562, 449px 14px 0 #723562, 457px 14px 0 #723562, 461px 14px 0 #723562, 465px 14px 0 #723562, 473px 14px 0 #723562, 483px 14px 0 #723562,
    437px 16px 0 #723562, 439px 16px 0 #723562, 447px 16px 0 #723562, 451px 16px 0 #723562, 471px 16px 0 #723562, 475px 16px 0 #723562, 483px 16px 0 #723562,
    441px 18px 0 #723562, 443px 18px 0 #723562, 445px 18px 0 #723562, 453px 18px 0 #723562, 469px 18px 0 #723562, 477px 18px 0 #723562, 479px 18px 0 #723562, 481px 18px 0 #723562,
    455px 20px 0 #723562, 457px 20px 0 #723562, 459px 20px 0 #723562, 461px 20px 0 #723562, 463px 20px 0 #723562, 465px 20px 0 #723562, 467px 20px 0 #723562,
    489px 10px 0 #723562, 491px 10px 0 #723562, 493px 10px 0 #723562,
    487px 12px 0 #723562, 495px 12px 0 #723562,
    487px 14px 0 #723562, 491px 14px 0 #723562, 495px 14px 0 #723562,
    487px 16px 0 #723562, 495px 16px 0 #723562,
    489px 18px 0 #723562, 491px 18px 0 #723562, 493px 18px 0 #723562,
    501px 12px 0 #723562, 503px 12px 0 #723562, 539px 12px 0 #723562, 541px 12px 0 #723562,
    499px 14px 0 #723562, 501px 14px 0 #723562, 503px 14px 0 #723562, 505px 14px 0 #723562, 507px 14px 0 #723562,
    511px 14px 0 #723562, 515px 14px 0 #723562, 519px 14px 0 #723562, 523px 14px 0 #723562, 527px 14px 0 #723562, 531px 14px 0 #723562,
    535px 14px 0 #723562, 537px 14px 0 #723562, 539px 14px 0 #723562, 541px 14px 0 #723562, 543px 14px 0 #723562,
    501px 16px 0 #723562, 503px 16px 0 #723562, 539px 16px 0 #723562, 541px 16px 0 #723562,
    545px 8px 0 #723562, 557px 8px 0 #723562,
    547px 10px 0 #723562, 549px 10px 0 #723562, 553px 10px 0 #723562, 555px 10px 0 #723562,
    547px 12px 0 #723562, 549px 12px 0 #723562, 553px 12px 0 #723562, 555px 12px 0 #723562,
    551px 14px 0 #723562,
    547px 16px 0 #723562, 549px 16px 0 #723562, 553px 16px 0 #723562, 555px 16px 0 #723562,
    547px 18px 0 #723562, 549px 18px 0 #723562, 553px 18px 0 #723562, 555px 18px 0 #723562,
    545px 20px 0 #723562, 557px 20px 0 #723562,
    561px 12px 0 #723562, 563px 12px 0 #723562, 599px 12px 0 #723562, 601px 12px 0 #723562,
    559px 14px 0 #723562, 561px 14px 0 #723562, 563px 14px 0 #723562, 565px 14px 0 #723562, 567px 14px 0 #723562,
    571px 14px 0 #723562, 575px 14px 0 #723562, 579px 14px 0 #723562, 583px 14px 0 #723562, 587px 14px 0 #723562, 591px 14px 0 #723562,
    595px 14px 0 #723562, 597px 14px 0 #723562, 599px 14px 0 #723562, 601px 14px 0 #723562, 603px 14px 0 #723562,
    561px 16px 0 #723562, 563px 16px 0 #723562, 599px 16px 0 #723562, 601px 16px 0 #723562,
    609px 10px 0 #723562, 611px 10px 0 #723562, 613px 10px 0 #723562,
    607px 12px 0 #723562, 615px 12px 0 #723562,
    607px 14px 0 #723562, 611px 14px 0 #723562, 615px 14px 0 #723562,
    607px 16px 0 #723562, 615px 16px 0 #723562,
    609px 18px 0 #723562, 611px 18px 0 #723562, 613px 18px 0 #723562,
    635px 8px 0 #723562, 637px 8px 0 #723562, 639px 8px 0 #723562, 641px 8px 0 #723562, 643px 8px 0 #723562, 645px 8px 0 #723562, 647px 8px 0 #723562,
    621px 10px 0 #723562, 623px 10px 0 #723562, 625px 10px 0 #723562, 633px 10px 0 #723562, 649px 10px 0 #723562, 657px 10px 0 #723562, 659px 10px 0 #723562, 661px 10px 0 #723562,
    619px 12px 0 #723562, 627px 12px 0 #723562, 631px 12px 0 #723562, 651px 12px 0 #723562, 655px 12px 0 #723562, 663px 12px 0 #723562, 665px 12px 0 #723562,
    619px 14px 0 #723562, 629px 14px 0 #723562, 637px 14px 0 #723562, 641px 14px 0 #723562, 645px 14px 0 #723562, 653px 14px 0 #723562, 667px 14px 0 #723562, 669px 14px 0 #723562, 139px 14px 0 #723562,
    619px 16px 0 #723562, 627px 16px 0 #723562, 631px 16px 0 #723562, 651px 16px 0 #723562, 655px 16px 0 #723562, 663px 16px 0 #723562, 665px 16px 0 #723562,
    621px 18px 0 #723562, 623px 18px 0 #723562, 625px 18px 0 #723562, 633px 18px 0 #723562, 649px 18px 0 #723562, 657px 18px 0 #723562, 659px 18px 0 #723562, 661px 18px 0 #723562,
    635px 20px 0 #723562, 637px 20px 0 #723562, 639px 20px 0 #723562, 641px 20px 0 #723562, 643px 20px 0 #723562, 645px 20px 0 #723562, 647px 20px 0 #723562,
    671px 14px 0 #723562, 675px 14px 0 #723562, 679px 14px 0 #723562, 683px 14px 0 #723562, 687px 14px 0 #723562, 691px 14px 0 #723562, 695px 14px 0 #723562, 699px 14px 0 #723562,
    703px 14px 0 #723562, 707px 14px 0 #723562, 711px 14px 0 #723562, 715px 14px 0 #723562, 719px 14px 0 #723562, 723px 14px 0 #723562, 727px 14px 0 #723562, 731px 14px 0 #723562,
    735px 14px 0 #723562, 739px 14px 0 #723562, 743px 14px 0 #723562, 747px 14px 0 #723562, 751px 14px 0 #723562, 755px 14px 0 #723562;
  }
}

/* ---- 420px ---- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrap {
    width: 420px;
  }

  .separator {
    width: 420px;
    height: 30px;
  }

  .separator:after {
    box-shadow: 25px 12px 0 #723562, 27px 12px 0 #723562,
    1px 14px 0 #723562, 5px 14px 0 #723562, 9px 14px 0 #723562, 13px 14px 0 #723562, 17px 14px 0 #723562, 21px 14px 0 #723562, 23px 14px 0 #723562, 25px 14px 0 #723562, 27px 14px 0 #723562, 29px 14px 0 #723562,
    25px 16px 0 #723562, 27px 16px 0 #723562,
    31px 8px 0 #723562, 43px 8px 0 #723562,
    33px 10px 0 #723562, 35px 10px 0 #723562, 39px 10px 0 #723562, 41px 10px 0 #723562,
    33px 12px 0 #723562, 35px 12px 0 #723562, 39px 12px 0 #723562, 41px 12px 0 #723562,
    37px 14px 0 #723562,
    33px 16px 0 #723562, 35px 16px 0 #723562, 39px 16px 0 #723562, 41px 16px 0 #723562,
    33px 18px 0 #723562, 35px 18px 0 #723562, 39px 18px 0 #723562, 41px 18px 0 #723562,
    31px 20px 0 #723562, 43px 20px 0 #723562,
    47px 12px 0 #723562, 49px 12px 0 #723562, 85px 12px 0 #723562, 87px 12px 0 #723562,
    45px 14px 0 #723562, 47px 14px 0 #723562, 49px 14px 0 #723562, 51px 14px 0 #723562, 53px 14px 0 #723562, 57px 14px 0 #723562, 61px 14px 0 #723562, 65px 14px 0 #723562, 69px 14px 0 #723562, 73px 14px 0 #723562, 77px 14px 0 #723562, 81px 14px 0 #723562, 83px 14px 0 #723562, 85px 14px 0 #723562, 87px 14px 0 #723562, 89px 14px 0 #723562,
    47px 16px 0 #723562, 49px 16px 0 #723562, 85px 16px 0 #723562, 87px 16px 0 #723562,
    95px 10px 0 #723562, 97px 10px 0 #723562, 99px 10px 0 #723562,
    93px 12px 0 #723562, 101px 12px 0 #723562,
    93px 14px 0 #723562, 97px 14px 0 #723562, 101px 14px 0 #723562,
    93px 16px 0 #723562, 101px 16px 0 #723562,
    95px 18px 0 #723562, 97px 18px 0 #723562, 99px 18px 0 #723562,
    121px 8px 0 #723562, 123px 8px 0 #723562, 125px 8px 0 #723562, 127px 8px 0 #723562, 129px 8px 0 #723562, 131px 8px 0 #723562, 133px 8px 0 #723562,
    107px 10px 0 #723562, 109px 10px 0 #723562, 111px 10px 0 #723562, 119px 10px 0 #723562, 135px 10px 0 #723562, 143px 10px 0 #723562, 145px 10px 0 #723562, 147px 10px 0 #723562,
    105px 12px 0 #723562, 113px 12px 0 #723562, 117px 12px 0 #723562, 137px 12px 0 #723562, 141px 12px 0 #723562, 149px 12px 0 #723562, 151px 12px 0 #723562,
    105px 14px 0 #723562, 115px 14px 0 #723562, 123px 14px 0 #723562, 127px 14px 0 #723562, 131px 14px 0 #723562, 139px 14px 0 #723562, 153px 14px 0 #723562, 155px 14px 0 #723562,
    105px 16px 0 #723562, 113px 16px 0 #723562, 117px 16px 0 #723562, 137px 16px 0 #723562, 141px 16px 0 #723562, 149px 16px 0 #723562, 151px 16px 0 #723562,
    107px 18px 0 #723562, 109px 18px 0 #723562, 111px 18px 0 #723562, 119px 18px 0 #723562, 135px 18px 0 #723562, 143px 18px 0 #723562, 145px 18px 0 #723562, 147px 18px 0 #723562,
    121px 20px 0 #723562, 123px 20px 0 #723562, 125px 20px 0 #723562, 127px 20px 0 #723562, 129px 20px 0 #723562, 131px 20px 0 #723562, 133px 20px 0 #723562,
    161px 8px 0 #723562, 173px 8px 0 #723562,
    163px 10px 0 #723562, 165px 10px 0 #723562, 169px 10px 0 #723562, 171px 10px 0 #723562,
    163px 12px 0 #723562, 165px 12px 0 #723562, 169px 12px 0 #723562, 171px 12px 0 #723562,
    159px 14px 0 #723562, 167px 14px 0 #723562, 175px 14px 0 #723562, 179px 14px 0 #723562, 181px 14px 0 #723562,
    163px 16px 0 #723562, 165px 16px 0 #723562, 169px 16px 0 #723562, 171px 16px 0 #723562,
    163px 18px 0 #723562, 165px 18px 0 #723562, 169px 18px 0 #723562, 171px 18px 0 #723562,
    161px 20px 0 #723562, 173px 20px 0 #723562,
    187px 4px 0 #723562, 189px 4px 0 #723562,
    185px 6px 0 #723562, 191px 6px 0 #723562,
    183px 8px 0 #723562, 193px 8px 0 #723562,
    183px 10px 0 #723562, 191px 10px 0 #723562,
    185px 12px 0 #723562,
    187px 14px 0 #723562, 189px 14px 0 #723562, 191px 14px 0 #723562,
    185px 16px 0 #723562,
    183px 18px 0 #723562, 191px 18px 0 #723562,
    183px 20px 0 #723562, 193px 20px 0 #723562,
    185px 22px 0 #723562, 191px 22px 0 #723562,
    187px 24px 0 #723562, 189px 24px 0 #723562,
    209px 0px 0 #723562,
    209px 2px 0 #723562,
    207px 4px 0 #723562, 209px 4px 0 #723562, 211px 4px 0 #723562,
    201px 6px 0 #723562, 207px 6px 0 #723562, 211px 6px 0 #723562, 217px 6px 0 #723562,
    203px 8px 0 #723562, 209px 8px 0 #723562, 215px 8px 0 #723562,
    205px 10px 0 #723562, 213px 10px 0 #723562,
    199px 12px 0 #723562, 201px 12px 0 #723562, 207px 12px 0 #723562, 209px 12px 0 #723562, 211px 12px 0 #723562, 217px 12px 0 #723562, 219px 12px 0 #723562,
    195px 14px 0 #723562, 197px 14px 0 #723562, 199px 14px 0 #723562, 203px 14px 0 #723562, 207px 14px 0 #723562, 211px 14px 0 #723562, 215px 14px 0 #723562, 219px 14px 0 #723562, 221px 14px 0 #723562, 223px 14px 0 #723562,
    199px 16px 0 #723562, 201px 16px 0 #723562, 207px 16px 0 #723562, 209px 16px 0 #723562, 211px 16px 0 #723562, 217px 16px 0 #723562, 219px 16px 0 #723562,
    205px 18px 0 #723562, 213px 18px 0 #723562,
    203px 20px 0 #723562, 209px 20px 0 #723562, 215px 20px 0 #723562,
    201px 22px 0 #723562, 207px 22px 0 #723562, 211px 22px 0 #723562, 217px 22px 0 #723562,
    207px 24px 0 #723562, 209px 24px 0 #723562, 211px 24px 0 #723562,
    209px 26px 0 #723562,
    209px 28px 0 #723562,
    229px 4px 0 #723562, 231px 4px 0 #723562,
    227px 6px 0 #723562, 233px 6px 0 #723562,
    225px 8px 0 #723562, 235px 8px 0 #723562,
    227px 10px 0 #723562, 235px 10px 0 #723562,
    233px 12px 0 #723562,
    227px 14px 0 #723562, 229px 14px 0 #723562, 231px 14px 0 #723562,
    233px 16px 0 #723562,
    227px 18px 0 #723562, 235px 18px 0 #723562,
    225px 20px 0 #723562, 235px 20px 0 #723562,
    227px 22px 0 #723562, 233px 22px 0 #723562,
    229px 24px 0 #723562, 231px 24px 0 #723562,
    245px 8px 0 #723562, 257px 8px 0 #723562,
    247px 10px 0 #723562, 249px 10px 0 #723562, 253px 10px 0 #723562, 255px 10px 0 #723562,
    247px 12px 0 #723562, 249px 12px 0 #723562, 253px 12px 0 #723562, 255px 12px 0 #723562,
    237px 14px 0 #723562, 239px 14px 0 #723562, 243px 14px 0 #723562, 251px 14px 0 #723562, 259px 14px 0 #723562,
    247px 16px 0 #723562, 249px 16px 0 #723562, 253px 16px 0 #723562, 255px 16px 0 #723562,
    247px 18px 0 #723562, 249px 18px 0 #723562, 253px 18px 0 #723562, 255px 18px 0 #723562,
    245px 20px 0 #723562, 257px 20px 0 #723562,
    285px 8px 0 #723562, 287px 8px 0 #723562, 289px 8px 0 #723562, 291px 8px 0 #723562, 293px 8px 0 #723562, 295px 8px 0 #723562, 297px 8px 0 #723562,
    271px 10px 0 #723562, 273px 10px 0 #723562, 275px 10px 0 #723562, 283px 10px 0 #723562, 299px 10px 0 #723562, 307px 10px 0 #723562, 309px 10px 0 #723562, 311px 10px 0 #723562,
    267px 12px 0 #723562, 269px 12px 0 #723562, 277px 12px 0 #723562, 281px 12px 0 #723562, 301px 12px 0 #723562, 305px 12px 0 #723562, 313px 12px 0 #723562,
    263px 14px 0 #723562, 265px 14px 0 #723562, 279px 14px 0 #723562, 287px 14px 0 #723562, 291px 14px 0 #723562, 295px 14px 0 #723562, 303px 14px 0 #723562, 313px 14px 0 #723562,
    267px 16px 0 #723562, 269px 16px 0 #723562, 277px 16px 0 #723562, 281px 16px 0 #723562, 301px 16px 0 #723562, 305px 16px 0 #723562, 313px 16px 0 #723562,
    271px 18px 0 #723562, 273px 18px 0 #723562, 275px 18px 0 #723562, 283px 18px 0 #723562, 299px 18px 0 #723562, 307px 18px 0 #723562, 309px 18px 0 #723562, 311px 18px 0 #723562,
    285px 20px 0 #723562, 287px 20px 0 #723562, 289px 20px 0 #723562, 291px 20px 0 #723562, 293px 20px 0 #723562, 295px 20px 0 #723562, 297px 20px 0 #723562,
    319px 10px 0 #723562, 321px 10px 0 #723562, 323px 10px 0 #723562,
    317px 12px 0 #723562, 325px 12px 0 #723562,
    317px 14px 0 #723562, 321px 14px 0 #723562, 325px 14px 0 #723562,
    317px 16px 0 #723562, 325px 16px 0 #723562,
    319px 18px 0 #723562, 321px 18px 0 #723562, 323px 18px 0 #723562,
    331px 12px 0 #723562, 333px 12px 0 #723562, 369px 12px 0 #723562, 371px 12px 0 #723562,
    329px 14px 0 #723562, 331px 14px 0 #723562, 333px 14px 0 #723562, 335px 14px 0 #723562, 337px 14px 0 #723562, 341px 14px 0 #723562, 345px 14px 0 #723562, 349px 14px 0 #723562, 353px 14px 0 #723562, 357px 14px 0 #723562, 361px 14px 0 #723562, 365px 14px 0 #723562, 367px 14px 0 #723562, 369px 14px 0 #723562, 371px 14px 0 #723562, 373px 14px 0 #723562,
    331px 16px 0 #723562, 333px 16px 0 #723562, 369px 16px 0 #723562, 371px 16px 0 #723562,
    375px 8px 0 #723562, 387px 8px 0 #723562,
    377px 10px 0 #723562, 379px 10px 0 #723562, 383px 10px 0 #723562, 385px 10px 0 #723562,
    377px 12px 0 #723562, 379px 12px 0 #723562, 383px 12px 0 #723562, 385px 12px 0 #723562,
    381px 14px 0 #723562,
    377px 16px 0 #723562, 379px 16px 0 #723562, 383px 16px 0 #723562, 385px 16px 0 #723562,
    377px 18px 0 #723562, 379px 18px 0 #723562, 383px 18px 0 #723562, 385px 18px 0 #723562,
    375px 20px 0 #723562, 387px 20px 0 #723562,
    391px 12px 0 #723562, 393px 12px 0 #723562,
    389px 14px 0 #723562, 391px 14px 0 #723562, 393px 14px 0 #723562, 395px 14px 0 #723562, 397px 14px 0 #723562, 401px 14px 0 #723562, 405px 14px 0 #723562, 409px 14px 0 #723562, 413px 14px 0 #723562, 417px 14px 0 #723562,
    391px 16px 0 #723562, 393px 16px 0 #723562;
  }
}

/* ---- 300px ---- */
@media only screen and (max-width: 479px) {
  .wrap {
    width: 300px;
  }

  .separator {
    width: 300px;
    height: 30px;
  }

  .separator:after {
    box-shadow: 25px 12px 0 #723562, 27px 12px 0 #723562,
    1px 14px 0 #723562, 5px 14px 0 #723562, 9px 14px 0 #723562, 13px 14px 0 #723562, 17px 14px 0 #723562, 21px 14px 0 #723562, 23px 14px 0 #723562, 25px 14px 0 #723562, 27px 14px 0 #723562, 29px 14px 0 #723562,
    25px 16px 0 #723562, 27px 16px 0 #723562,
    35px 10px 0 #723562, 37px 10px 0 #723562, 39px 10px 0 #723562,
    33px 12px 0 #723562, 41px 12px 0 #723562,
    33px 14px 0 #723562, 37px 14px 0 #723562, 41px 14px 0 #723562,
    33px 16px 0 #723562, 41px 16px 0 #723562,
    35px 18px 0 #723562, 37px 18px 0 #723562, 39px 18px 0 #723562,
    61px 8px 0 #723562, 63px 8px 0 #723562, 65px 8px 0 #723562, 67px 8px 0 #723562, 69px 8px 0 #723562, 71px 8px 0 #723562, 73px 8px 0 #723562,
    47px 10px 0 #723562, 49px 10px 0 #723562, 51px 10px 0 #723562, 59px 10px 0 #723562, 75px 10px 0 #723562, 83px 10px 0 #723562, 85px 10px 0 #723562, 87px 10px 0 #723562,
    45px 12px 0 #723562, 53px 12px 0 #723562, 57px 12px 0 #723562, 77px 12px 0 #723562, 81px 12px 0 #723562, 89px 12px 0 #723562, 91px 12px 0 #723562,
    45px 14px 0 #723562, 55px 14px 0 #723562, 63px 14px 0 #723562, 67px 14px 0 #723562, 71px 14px 0 #723562, 79px 14px 0 #723562, 93px 14px 0 #723562, 95px 14px 0 #723562,
    45px 16px 0 #723562, 53px 16px 0 #723562, 57px 16px 0 #723562, 77px 16px 0 #723562, 81px 16px 0 #723562, 89px 16px 0 #723562, 91px 16px 0 #723562,
    47px 18px 0 #723562, 49px 18px 0 #723562, 51px 18px 0 #723562, 59px 18px 0 #723562, 75px 18px 0 #723562, 83px 18px 0 #723562, 85px 18px 0 #723562, 87px 18px 0 #723562,
    61px 20px 0 #723562, 63px 20px 0 #723562, 65px 20px 0 #723562, 67px 20px 0 #723562, 69px 20px 0 #723562, 71px 20px 0 #723562, 73px 20px 0 #723562,
    101px 8px 0 #723562, 113px 8px 0 #723562,
    103px 10px 0 #723562, 105px 10px 0 #723562, 109px 10px 0 #723562, 111px 10px 0 #723562,
    103px 12px 0 #723562, 105px 12px 0 #723562, 109px 12px 0 #723562, 111px 12px 0 #723562,
    99px 14px 0 #723562, 107px 14px 0 #723562, 115px 14px 0 #723562, 119px 14px 0 #723562, 121px 14px 0 #723562,
    103px 16px 0 #723562, 105px 16px 0 #723562, 109px 16px 0 #723562, 111px 16px 0 #723562,
    103px 18px 0 #723562, 105px 18px 0 #723562, 109px 18px 0 #723562, 111px 18px 0 #723562,
    101px 20px 0 #723562, 113px 20px 0 #723562,
    127px 4px 0 #723562, 129px 4px 0 #723562,
    125px 6px 0 #723562, 131px 6px 0 #723562,
    123px 8px 0 #723562, 133px 8px 0 #723562,
    123px 10px 0 #723562, 131px 10px 0 #723562,
    125px 12px 0 #723562,
    127px 14px 0 #723562, 129px 14px 0 #723562, 131px 14px 0 #723562,
    125px 16px 0 #723562,
    123px 18px 0 #723562, 131px 18px 0 #723562,
    123px 20px 0 #723562, 133px 20px 0 #723562,
    125px 22px 0 #723562, 131px 22px 0 #723562,
    127px 24px 0 #723562, 129px 24px 0 #723562,
    149px 0px 0 #723562,
    149px 2px 0 #723562,
    147px 4px 0 #723562, 149px 4px 0 #723562, 151px 4px 0 #723562,
    141px 6px 0 #723562, 147px 6px 0 #723562, 151px 6px 0 #723562, 157px 6px 0 #723562,
    143px 8px 0 #723562, 149px 8px 0 #723562, 155px 8px 0 #723562,
    145px 10px 0 #723562, 153px 10px 0 #723562,
    139px 12px 0 #723562, 141px 12px 0 #723562, 147px 12px 0 #723562, 149px 12px 0 #723562, 151px 12px 0 #723562, 157px 12px 0 #723562, 159px 12px 0 #723562,
    135px 14px 0 #723562, 137px 14px 0 #723562, 139px 14px 0 #723562, 143px 14px 0 #723562, 147px 14px 0 #723562, 151px 14px 0 #723562, 155px 14px 0 #723562, 159px 14px 0 #723562, 161px 14px 0 #723562, 163px 14px 0 #723562,
    139px 16px 0 #723562, 141px 16px 0 #723562, 147px 16px 0 #723562, 149px 16px 0 #723562, 151px 16px 0 #723562, 157px 16px 0 #723562, 159px 16px 0 #723562,
    145px 18px 0 #723562, 153px 18px 0 #723562,
    143px 20px 0 #723562, 149px 20px 0 #723562, 155px 20px 0 #723562,
    141px 22px 0 #723562, 147px 22px 0 #723562, 151px 22px 0 #723562, 157px 22px 0 #723562,
    147px 24px 0 #723562, 149px 24px 0 #723562, 151px 24px 0 #723562,
    149px 26px 0 #723562,
    149px 28px 0 #723562,
    169px 4px 0 #723562, 171px 4px 0 #723562,
    167px 6px 0 #723562, 173px 6px 0 #723562,
    165px 8px 0 #723562, 175px 8px 0 #723562,
    167px 10px 0 #723562, 175px 10px 0 #723562,
    173px 12px 0 #723562,
    167px 14px 0 #723562, 169px 14px 0 #723562, 171px 14px 0 #723562,
    173px 16px 0 #723562,
    167px 18px 0 #723562, 175px 18px 0 #723562,
    165px 20px 0 #723562, 175px 20px 0 #723562,
    167px 22px 0 #723562, 173px 22px 0 #723562,
    169px 24px 0 #723562, 171px 24px 0 #723562,
    185px 8px 0 #723562, 197px 8px 0 #723562,
    187px 10px 0 #723562, 189px 10px 0 #723562, 193px 10px 0 #723562, 195px 10px 0 #723562,
    187px 12px 0 #723562, 189px 12px 0 #723562, 193px 12px 0 #723562, 195px 12px 0 #723562,
    177px 14px 0 #723562, 179px 14px 0 #723562, 183px 14px 0 #723562, 191px 14px 0 #723562, 199px 14px 0 #723562,
    187px 16px 0 #723562, 189px 16px 0 #723562, 193px 16px 0 #723562, 195px 16px 0 #723562,
    187px 18px 0 #723562, 189px 18px 0 #723562, 193px 18px 0 #723562, 195px 18px 0 #723562,
    185px 20px 0 #723562, 197px 20px 0 #723562,
    225px 8px 0 #723562, 227px 8px 0 #723562, 229px 8px 0 #723562, 231px 8px 0 #723562, 233px 8px 0 #723562, 235px 8px 0 #723562, 237px 8px 0 #723562,
    211px 10px 0 #723562, 213px 10px 0 #723562, 215px 10px 0 #723562, 223px 10px 0 #723562, 239px 10px 0 #723562, 247px 10px 0 #723562, 249px 10px 0 #723562, 251px 10px 0 #723562,
    207px 12px 0 #723562, 209px 12px 0 #723562, 217px 12px 0 #723562, 221px 12px 0 #723562, 241px 12px 0 #723562, 245px 12px 0 #723562, 253px 12px 0 #723562,
    203px 14px 0 #723562, 205px 14px 0 #723562, 219px 14px 0 #723562, 227px 14px 0 #723562, 231px 14px 0 #723562, 235px 14px 0 #723562, 243px 14px 0 #723562, 253px 14px 0 #723562,
    207px 16px 0 #723562, 209px 16px 0 #723562, 217px 16px 0 #723562, 221px 16px 0 #723562, 241px 16px 0 #723562, 245px 16px 0 #723562, 253px 16px 0 #723562,
    211px 18px 0 #723562, 213px 18px 0 #723562, 215px 18px 0 #723562, 223px 18px 0 #723562, 239px 18px 0 #723562, 247px 18px 0 #723562, 249px 18px 0 #723562, 251px 18px 0 #723562,
    225px 20px 0 #723562, 227px 20px 0 #723562, 229px 20px 0 #723562, 231px 20px 0 #723562, 233px 20px 0 #723562, 235px 20px 0 #723562, 237px 20px 0 #723562,
    259px 10px 0 #723562, 261px 10px 0 #723562, 263px 10px 0 #723562,
    257px 12px 0 #723562, 265px 12px 0 #723562,
    257px 14px 0 #723562, 261px 14px 0 #723562, 265px 14px 0 #723562,
    257px 16px 0 #723562, 265px 16px 0 #723562,
    259px 18px 0 #723562, 261px 18px 0 #723562, 263px 18px 0 #723562,
    271px 12px 0 #723562, 273px 12px 0 #723562,
    269px 14px 0 #723562, 271px 14px 0 #723562, 273px 14px 0 #723562, 275px 14px 0 #723562, 277px 14px 0 #723562, 281px 14px 0 #723562, 285px 14px 0 #723562, 289px 14px 0 #723562, 293px 14px 0 #723562, 297px 14px 0 #723562,
    271px 16px 0 #723562, 273px 16px 0 #723562;
  }
}